
.progressContainer {
    width: 100%;
    height: 6px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
} 

/* Progress bar */
.progressBar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #2193b0, #6dd5ed);
    transition: width 0.5s cubic-bezier(0.4, 0.0, 0.2, 1), background 0.5s ease;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 8px rgba(13, 143, 218, 0.6), 0 0 4px rgba(216, 4, 156, 0.6);
}

